.menuDesktop {
    width: 100%;
    padding: 5px;
    padding-bottom: 0.5%;
    padding-left: 13%;
    padding-right: 15%;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(40,40,40,0.5) 0%, rgba(43,43,43,0.35) 33%, rgba(46,46,46,0.15) 66%, rgba(75,75,75,0) 100%);
    position: fixed;
    color: white;
    top: 0;
}

.menuContainer {
    padding-top: 2.3%;
    padding-right: 21%;
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
    font-size: 1em;
    font-family: 'mulilight', 'Mulish', sans-serif;
}

.menuItem:hover {
    text-shadow: rgb(255,255,255) 0px 0px 2px;
    transform: scale(1.05,1.05)
}

.menuBurgerMobile {
    display: none;
}

.menuBurgerContents {
    display: none;
}

@media only screen and (max-width: 820px){
    .menuDesktop{
        display: none;
    }
    .menuBurgerMobile {
        width: 100vw;
        z-index: 1000;
        background: rgba(15, 15, 15, 0.9);
        display: block;
        position: fixed;
    }
    .burgerButton {
        position: absolute;
        right: 0;
        top: 0;
        color: white;
        font-size: 2em;
        padding-right: 3%;
        padding-top: 2%;
    }
    .menuBurgerContents {
        text-decoration: none;
        color: white;
        font-size: 1.1em;
        display: none;
        padding-top: 3%;
        padding-left: 2%;
    }
    .mobileLogo {
        padding-top: 3%;
        padding-left: 2%;
        padding-bottom: 2%;
        height: 10%;
        width: 10%;
    }
    .menuBurgerItem {
        color: white;
        text-decoration: none;
        height: 10vh;
        width: 10vw;
    }  

    @media (min-height: 1000px) {
        .burgerButton {
            font-size: 4em;
        }
    }
}

.menuLogo {
    height: 12vh;
    width: 10.5vh;
}